figure(class="md:flex bg-slate-100 rounded-xl p-8 md:p-0 dark:bg-slate-800 shadow-lg")
    div(class="pt-6 md:p-8 text-center md:text-left space-y-4")
        blockquote
            p(class="text-lg font-medium")
                nav(class="shadow-lg shadow-indigo-500/40 animate-pulse flex space-x-4")
                    a(href="/", class="transition ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300 px-4 py-2 rounded") Creadores 
                    a(href="/hotel/mostrarHotel", class="transition ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300 px-4 py-2 rounded") Hoteles 
                    a(href="/gerente/mostrarGerentes", class="transition ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300 px-4 py-2 rounded") Gerentes
                    a(href="/", class="transition ease-in-out delay-150 bg-pink-500 hover:-translate-y-1 hover:scale-110 hover:bg-pink-700 duration-300 px-4 py-2 rounded") Modificar
